localhost {
	handle_path /webcam/* {
		reverse_proxy camera:8080
		header Cache-Control no-cache
	}
	reverse_proxy octoprint:5000
	header X-Scheme {scheme}
	header /static/webassets/* Cache-Control max-age=600
}
